
header,section,footrer,aside,nav,article,figure{
	display: block;
}

.wrap{
width : 1125px;
margin: 20px auto 20px auto;
border: 2px solid #000000;
background-color: #ffffff;
}

header{
	height: 160px;
	background-color: #524848;
}


body {
  margin: 0px;
  background-color: #f9f8f6;
  background-position: center;
  line-height: 1.4em;
  font-family: Georgia, serif, Times;
  line-height: 1.8em;
  color: #666666;
}

h1{
	text-indent: 10px;
	width: 940px;
	height:130px;
	margin:0px;
	font-weight: normal;
	color: #f9f8f6
	
	}

nav,footer{
	clear:both;
	color: #ffffff;
	background-color: #aeaca8;
	height: 30px;

}

nav ul{
	margin: 0px;
	padding: 5px 0px 5px 30px;
	}
	
nav li{
	display: inline;
	margin-right: 40px;

}
nav li a{
	color: #ffffff;
}

nav li a:hover, nav li a.current {
	color: #000000;
}

section.test{
	float: left;
	width:1100px;
	

}

article{
	clear: both;
	overflow: auto;
	width: 100%;
}



figure{
	float: left;
	width:280px;
	height:340px;
	padding: 5px;
	margin: 20px;
	border: 1px solid #eeeeee;
}



aside {
	width:230px;
	float:left;
	padding: 0px 0px 0px 20px;
	
}

footer {
	font-size: 80%;
	padding: 7px 0px 0px 20px;
	}

a{
	color: #de6581;
	text-decoration: none;
	}
	





 

 

 

 
/* Slots for final card positions */
 
#cardSlots {
  float:left;
  margin:  0 auto;
  background: #4d7eda;
  width: 35em;
  height: 25em;
}
 
/* The initial pile of unsorted cards */
 
#cardPile {
  float: left;
  margin: 0 auto;
  background: #4DCADA;
  width: 30em;
  height: 25em;
}
 
#cardSlots, #cardPile, #success {
 
  padding: 20px;
  border: .02em solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 2em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
}

 
/* Individual cards and slots */
 
#cardSlots div, #cardPile div {
  float: left;
  width: 4em;
  height: 3em;
  padding: .2em;
  padding-top: .2em;
  padding-bottom: 0;
  border: .1em solid #333;
  -moz-border-radius: .1em;
  -webkit-border-radius: .1em;
  border-radius: .1em;
  margin: 0 0 0 .1em;
  background: #fff;
}
 

 
#cardSlots div.hovered {
  background: #aaa;
}
 
#cardSlots div {
  border-style: dashed;
  
}
 
#cardPile div {
  background: #000;
  color: #fff;
  font-size: 1em;
  text-shadow: 0 0 3px #000;
  text-align: center;
}
 
#cardPile div.ui-draggable-dragging {
  -moz-box-shadow: 0 0 .2em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .2em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .2em rgba(0, 0, 0, .8);
}
 

 
 
/* "You did it!" message */
#success {
 
  float:left;
  margin:  0 auto;
  width:  25em;
  height: 25em;
 
